img#mike {
  transform: scale(1.2);
}
#modal-popup {
  background-color: rgba(0, 0, 0, 0.7);
}
#modal-popup .modal-content {
  background: transparent;
}
#modal-popup .modal-content video {
  z-index: 4;
}
#modal-popup .modal-content img.btn-fechar {
  position: absolute;
  height: 35px;
  right: 5px;
  top: 5px;
  z-index: 5;
  background: #c5c5c5;
  padding: 6px;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 4px black);
}
#modal-popup .modal-content img.btn-fechar:hover {
  cursor: pointer;
}
#modal-popup .banner-modal {
  width: 50vw;
}
#loader {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  position: fixed;
  z-index: 50;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
#loader .circulo {
  background-color: goldenrod;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  display: grid;
  align-content: center;
  justify-content: center;
}
#loader img {
  height: 100px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  background: goldenrod;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  background: goldenrod;
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  background: goldenrod;
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  background: goldenrod;
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@font-face {
  font-family: gumbo;
  src: url('../fonts/GumboDEMO.otf');
}
@font-face {
  font-family: kg;
  src: url('../fonts/KGInimitableOriginal.ttf');
}
.desativado {
  cursor: not-allowed !important;
  filter: grayscale(1) !important;
}
.mostrar {
  display: block;
}
.esconder {
  display: none;
}
.mostrar-991 {
  display: none;
}
.mostrar-768 {
  display: none;
}
.navbar-brand.logo img {
  height: 80px;
}
.height-full {
  height: 100%;
}
.bg_video {
  right: 0;
  width: 100vw;
  height: auto;
  z-index: 0;
  background-size: cover;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}
.caroussel .controle {
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.5));
  align-self: center;
  justify-self: center;
}
.caroussel .controle.disable,
.caroussel .controle.disable:hover,
.caroussel .controle.disable:active {
  filter: grayscale(1);
  transform: none;
  cursor: default;
}
.caroussel .controle:hover {
  cursor: pointer;
  filter: brightness(0.9) drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.7));
  transform: scale(0.95);
}
.caroussel .controle:active {
  filter: brightness(0.9) drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.9));
  transform: scale(0.9);
}
.caroussel .controle img {
  width: 45px;
  margin: 8px;
}
.caroussel .glider-dots .glider-dot {
  background: linear-gradient(to right, #ffce3b, #cc6923);
  opacity: 0.5;
}
.caroussel .glider-dots .glider-dot.active {
  opacity: 1;
}
h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: kg;
}
h2 {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  font-family: kg;
  text-transform: uppercase;
}
a {
  text-decoration: none !important;
  color: #ffffff !important;
}
a:hover {
  text-decoration: none !important;
  color: #ffffff !important;
}
p {
  color: #fff;
}
img {
  image-rendering: -webkit-optimize-contrast;
}
section {
  position: relative;
}
section.topo {
  height: calc(100vw / 1.751);
}
.nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-family: kg;
  font-size: 20px;
  margin: 0px 10px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.nav-link:hover {
  filter: brightness(0.9);
  transform: scale(0.98);
}
.nav-link .logo {
  height: 150px;
}
.icone-idioma {
  height: 25px;
}
.menu-idioma .dropdown-toggle {
  text-align: center;
}
.menu-idioma .dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  border: none;
  background: linear-gradient(
    90deg,
    rgba(207, 92, 43, 0.55) 0%,
    rgba(89, 23, 62, 0.55) 100%
  );
}
.dropdown-menu .dropdown-item:hover {
  background-color: rgba(207, 92, 43, 0.55);
}
section.topo .conteudo {
  z-index: 3;
  display: grid;
  margin: 0 auto;
  justify-items: center;
  text-align: center;
  width: 45%;
}
section.topo .conteudo h1 {
  text-align: center;
  font-size: 30px;
}
section.topo .conteudo h2 {
  font-size: 25px;
}
section.topo .conteudo h3 {
  color: #fff;
  font-size: 18px;
  font-family: kg;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: linear-gradient(
    90deg,
    rgba(207, 92, 43, 0.55) 0%,
    rgba(89, 23, 62, 0.55) 100%
  );
}
section.topo .conteudo p {
  color: #fff;
  font-size: 18px;
}
section.topo .conteudo .btn-play {
  margin: 10px 0;
}
section.topo .conteudo h1 {
  text-align: center;
}
.btn-play {
  font-family: kg;
  text-transform: uppercase;
  padding: 10px 50px;
  font-size: 30px !important;
  display: inline-block;
  background: url(../img/bg-botao.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.btn-play:hover {
  filter: brightness(0.93) drop-shadow(-3px 2px 2px rgba(0, 0, 0, 0.3));
  transform: scale(0.98);
}

section.topo .social {
  display: flex;
}
section.topo .social img {
  height: 40px;
  margin: 0px 5px;
}
section.topo .social img:hover {
  filter: brightness(0.9);
  transform: scale(0.98);
}
/*FIM TOPO*/
/*CIPO*/
div.cipo img {
  z-index: 2;
  margin-top: -67px;
  right: 0;
  position: absolute;
  height: 130px;
  width: 100vw;
}
/*FIM CIPO*/
/*CHACTERS*/
section.characters {
  background: #5fa8e6;
  height: calc(100vw / 1.435);
}
section.characters .conteudo {
  z-index: 1;
  align-self: center;
}

section.characters .conteudo h2 {
  margin-bottom: 100px;
}
section.characters .conteudo .caroussel {
  display: grid;
  grid-template-columns: 60px auto 60px;
}
section.characters .conteudo .caroussel .glider {
  width: 100%;
}
section.characters .conteudo .lista .box .placa {
  background: url('../img/bg-madeira.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  display: grid;
  align-items: center;
  height: 55px;
  margin-top: 10px;
  margin-bottom: -20px;
}
section.characters .conteudo .lista .box:nth-child(2) .placa {
  transform: rotate(10deg);
}
section.characters .conteudo .lista .box:nth-child(2) .placa p {
  transform: rotate(-10deg);
}
section.characters .conteudo .lista .box:nth-child(3) .placa {
  transform: rotate(3deg);
}
section.characters .conteudo .lista .box:nth-child(3) .placa p {
  transform: rotate(-3deg);
}
section.characters .conteudo .lista .box:nth-child(4) .placa {
  transform: rotate(-5deg);
}
section.characters .conteudo .lista .box:nth-child(4) .placa p {
  transform: rotate(5deg);
}
section.characters .conteudo .lista .box p {
  color: #ffffff;
  font-family: kg;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
}
section.characters .conteudo .lista .box .char {
  display: flex;
  background: linear-gradient(
    90deg,
    rgba(207, 92, 43, 0.55) 0%,
    rgba(89, 23, 62, 0.55) 100%
  );
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0px 10px;
  height: 450px;
}
section.characters .conteudo .lista .box .char img {
  max-height: 90%;
  max-width: calc(100% - 10px);
}
/*FIM CHARACTERS*/
/*GAMEPLAY*/
section.gameplay {
  height: calc(100vw / 1.106);
  /* display: grid; */
  align-items: center;
}
section.gameplay .conteudoGameplay {
  z-index: 1;
  padding: 50px 0px;
  align-self: center;
}
section.gameplay .conteudoGameplay h2 {
  padding-bottom: 30px;
}
section.gameplay .conteudoGameplay .caroussel {
  max-width: 100%;
  display: grid;
  grid-template-columns: 60px 60% 60px;
  justify-content: center;
}
section.gameplay .conteudoGameplay .caroussel .video {
  width: 500px;
  align-self: center;
}
section.gameplay .conteudoGameplay .caroussel video {
  max-width: 100%;
}
section.gameplay .conteudoCaroussel.glider {
  /* max-height: 370px; */
  width: 100%;
}
section.roadmap .conteudoRoadmap {
  position: relative;
  z-index: 1;
  padding: 50px 0px;
  align-self: center;
  display: grid;
}
section.roadmap .conteudoRoadmap .mouse {
  position: absolute;
  height: 20px;
  left: 50%;
  top: 50%;
  animation: clicando 2s infinite;
  transition: none;
  display: none;
}
@keyframes clicando {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
section.roadmap .conteudoRoadmap img.mapa {
  justify-self: center;
  width: 50%;
}
section.roadmap .conteudoRoadmap img.mapa:hover {
  cursor: pointer;
}
/*FIM GAMEPLAY ROADMAP*/
/*MODAL ROADMAP*/
#checklistModal .modal-content {
  padding: 155px 100px 95px 65px;
  border-radius: 15px;
  background-color: transparent;
  background-image: url('../img/checklist.svg');
  border: none;
}
#checklistModal .modal-content img.btn-fechar {
  position: absolute;
  height: 35px;
  right: 30px;
  top: 50px;
}
#checklistModal .modal-content img.btn-fechar:hover {
  cursor: pointer;
}
#checklistModal .modal-content ul {
  margin: 0px;
  list-style: none;
  padding: 0;
}
#checklistModal .modal-content ul li:before {
  content: url('../img/checkbox-unchecked.svg');
  display: inline-block;
  width: 20px;
  justify-self: center;
  margin-right: 5px;
}
#checklistModal .modal-content ul li.checked:before {
  content: url('../img/checkbox-checked-cinza.svg');
}
#checklistModal .modal-content ul li {
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
  color: #fff;
  line-height: 1;
  margin-bottom: 10px;
  font-family: 'Comfortaa';
}
#checklistModal .modal-content ul li.checked {
  color: #2c2c2c;
  text-decoration: line-through;
}
/*FIM MODAL*/
/*TEAM*/
section.team {
  height: calc(100vw / 2.384);
}
section.team .conteudo {
  align-self: center;
  z-index: 1;
}
section.team .conteudo h2 {
  padding-bottom: 15px;
}
section.team .conteudo .caroussel {
  display: grid;
  grid-template-columns: 60px auto 60px;
}
section.team .conteudo .caroussel .glider {
  width: 100%;
}
section.team .conteudo .cartao {
  display: grid;
  gap: 15px;
  text-align: center;
  color: #ffffff;
}
section.team .conteudo .cartao .foto {
  padding: 10px;
}
section.team .conteudo .cartao .foto img {
  height: 150px;
  width: 150px;
  outline: 2px solid yellow;
  outline-offset: 5px;
  border-radius: 100%;
}
section.team .conteudo .cartao h6 {
  margin-bottom: 0px;
  font-size: 25px;
  font-family: kg;
  text-transform: uppercase;
}
/*FIM TEAM*/
/*TOKENOMICS*/
section.tokenomics {
  height: calc(100vw / 2.156);
}
section.tokenomics .conteudo {
  padding: 30px;
  position: relative;
  z-index: 1;
}
section.tokenomics .conteudo p {
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 0px;
  font-size: 14px;
}
section.tokenomics .conteudo .titulo p {
  font-family: kg;
  font-size: 20px;
}
section.tokenomics .conteudo .porcentagem p {
  font-family: 'Montserrat';
  font-weight: 800;
}
section.tokenomics .conteudo .numero p {
  font-family: 'Comfortaa';
  font-size: 13px;
}
section.tokenomics .conteudo .titulo p::before {
  content: ' ';
  display: inline-block;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-left: -25px;
}
section.tokenomics .conteudo .itens {
  position: absolute;
}
section.tokenomics .conteudo .itens.advisor {
  left: 29%;
  top: 22%;
}
section.tokenomics .conteudo .itens.burn {
  left: 53%;
  top: 18%;
}
section.tokenomics .itens.airdrop {
  left: 70%;
  top: 33%;
}
section.tokenomics .itens.play-to-earn {
  top: 64%;
  left: 74%;
}
section.tokenomics .itens.staking {
  top: 79%;
  left: 56%;
}
section.tokenomics .itens.liquidity {
  top: 67%;
  left: 21%;
}
section.tokenomics .itens.market {
  left: 22%;
  top: 37%;
}
section.tokenomics .itens.presale {
  left: 77%;
  top: 48%;
}
section.tokenomics .itens.investor {
  left: 19%;
  top: 51%;
}
section.tokenomics .conteudo .itens.burn .titulo p::before {
  background: linear-gradient(to left, #1596e2, #6fcad9);
}
section.tokenomics .conteudo .itens.airdrop .titulo p::before {
  background: linear-gradient(to left, #f9c503, #d6ab1d);
}
section.tokenomics .conteudo .itens.play-to-earn .titulo p::before {
  background: linear-gradient(to left, #fa6297, #910cac);
}
section.tokenomics .conteudo .itens.staking .titulo p::before {
  background: linear-gradient(to left, #7216e1, #5e0ca9);
}
section.tokenomics .conteudo .itens.liquidity .titulo p::before {
  background: linear-gradient(to left, #ff6418, #b70f72);
}
section.tokenomics .conteudo .itens.market .titulo p::before {
  background: linear-gradient(to left, #fb801a, #ba1c8b);
}
section.tokenomics .conteudo .itens.advisor .titulo p::before {
  background: linear-gradient(to left, #56b3ae, #59f5a8);
}
section.tokenomics .conteudo .itens.presale .titulo p::before {
  background: linear-gradient(to left, #eecd38, #e78300);
}
section.tokenomics .conteudo .itens.investor .titulo p::before {
  background: linear-gradient(to left, #38eeee, #04b613);
}
/*FIM TOKENOMICS*/
/*PRESS*/
.body-press {
  background-color: #ffad6f;
}
section.press {
  background: url('../img/bg-press.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container-press {
  padding-top: 80px;
  padding-bottom: 120px;
}
section.press .box-caroussel,
section.news .box-caroussel {
  margin-top: 50px;
  padding: 50px 0px 25px 0px;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgba(207, 92, 43, 0.55) 0%,
    rgba(89, 23, 62, 0.55) 100%
  );
  /* display: grid;
  justify-items: center; */
  position: relative;
}
section.news .box-caroussel .detalhe-coruja {
  position: absolute;
  width: 200px;
  bottom: -100px;
  left: -50px;
}
section.press .box-caroussel .placa,
section.news .box-caroussel .placa {
  font-family: kg;
  padding: 10px 0px;
  left: calc(50% - 125px);
  width: 250px;
  top: -30px;
  position: absolute;
  text-align: center;
  color: #fff;
  background: url('../img/bg-madeira.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
section.press .box-caroussel .placa h3,
section.news .box-caroussel .placa h3 {
  margin-bottom: 0px;
}
section.press .caroussel,
section.news .caroussel {
  display: grid;
  grid-template-columns: 60px auto 60px;
}
section.press .caroussel .glider,
section.news .caroussel .glider {
  width: 100%;
}
section.press .caroussel .box {
  cursor: pointer;
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 15px 0px;
}
section.press .caroussel .foto {
  height: 150px;
  width: 150px;
  outline: 2px solid rgb(255, 166, 0);
  outline-offset: 5px;
  border-radius: 100%;
  margin-bottom: 20px;
}
section.press .caroussel h6,
section.news .caroussel h6 {
  margin-bottom: 0px;
  font-size: 20px;
  font-family: kg;
  text-transform: uppercase;
  color: #fff;
}
section.press .caroussel p {
  margin-bottom: 0px;
}
section.press .caroussel .glider-dots,
section.news .caroussel .glider-dots {
  grid-column: 2/3;
}
#youtuberModal .modal-content {
  border-radius: 40px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(207, 92, 43, 0.55) 0%,
    rgba(89, 23, 62, 0.55) 100%
  );
  padding: 25px;
}
#youtuberModal .modal-content .cabecalho {
  position: relative;
  display: flex;
  gap: 25px;
  align-items: center;
}
#youtuberModal .modal-content img.btn-fechar {
  position: absolute;
  height: 40px;
  background: linear-gradient(to left, #cc6923, #ffce3b);
  padding: 10px;
  border-radius: 100%;
  right: -10px;
  cursor: pointer;
  top: -10px;
}
#youtuberModal .modal-content .cabecalho .foto {
  height: 100px;
  width: 100px;
  outline: 2px solid rgb(255, 166, 0);
  outline-offset: 5px;
  border-radius: 100%;
  margin-bottom: 20px;
}
#youtuberModal .modal-content .cabecalho h6 {
  margin-bottom: 0px;
  font-size: 20px;
  font-family: kg;
  text-transform: uppercase;
  color: #fff;
}
#youtuberModal .modal-content .cabecalho p {
  font-size: 14px;
  margin-bottom: 0px;
}
#youtuberModal .modal-content .conteudo video {
  max-width: 100%;
}
section.news {
  background: url('../img/moeda-caveira.png');
  background-repeat: no-repeat;
  background-position: 95% 100%;
  background-size: 100px auto;
  padding-bottom: 120px;
}
section.news .caroussel .box {
  border-radius: 40px;
  background: linear-gradient(
    90deg,
    rgba(207, 92, 43, 0.55) 0%,
    rgba(89, 23, 62, 0.55) 100%
  );
  display: grid;
  justify-items: center;
  margin: 20px;
}
section.news .caroussel .box .texto-news {
  padding: 15px;
}
section.news .caroussel .box .texto-news p {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.3;
}
section.communities {
  background: url('../img/moeda-caveira-2.png');
  background-repeat: no-repeat;
  background-position: 5% 100%;
  background-size: 80px auto;
  padding-bottom: 80px;
}
section.communities .box-communities {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 20px;
  justify-content: center;
}
section.communities .placa {
  background: url('../img/bg-madeira.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 15px;
}
section.communities .placa h3 {
  font-family: kg;
  margin-bottom: 0px;
  color: #fff;
}
section.communities .box-communities a img {
  width: 150px;
}
section.rodape-press {
  padding: 30px 0px;
  height: auto !important;
  background: url(../img/banana.png), url(../img/folha-bananeira.png),
    url(../img/folha-bananeira-2.png);
  background-repeat: no-repeat;
  background-size: auto 50px, auto 200px, auto 200px;
  background-position: 50% 101%, -2% calc(100% - -30px), 102% calc(100% - -30px);
}
section.rodape-press input::placeholder,
section.rodape-press textarea::placeholder {
  color: #fff;
}
/*FIM PRESS*/
/*RODAPE*/
section.rodape {
  height: calc(100vw / 4.669);
}
section.rodape .conteudo {
  z-index: 1;
  padding-top: 25px;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
}
section.rodape .conteudo .coluna:first-child {
  display: grid;
  justify-items: center;
}
section.rodape .logo {
  height: 100px;
}
section.rodape .social {
  display: flex;
}
section.rodape .social img {
  height: 25px;
  margin: 5px;
}
section.rodape .social img:hover {
  filter: brightness(0.8);
}
section.rodape ul.submenu {
  list-style: none;
  font-family: kg;
}
section.rodape ul.submenu li {
  transition: 0.1s;
  margin-bottom: 10px;
}
section.rodape ul.submenu li:hover {
  transform: translate(5px);
}
section.rodape h5 {
  color: #ffffff;
  font-family: Montserrat;
}

section.rodape form {
  position: relative;
}
section.rodape input,
section.rodape textarea {
  border: none;
  resize: none;
  border-radius: 5px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
}
section.rodape input:focus-visible,
section.rodape textarea:focus-visible {
  outline: none;
}
section.rodape input {
  width: calc(50% - 10px);

  margin-bottom: 10px;
}
section.rodape input:first-child {
  margin-right: 15px;
}
section.rodape textarea {
  width: 100%;
}
section.rodape form button {
  border: none;
  text-transform: uppercase;
  font-family: kg;
  color: #ffffff;
  padding: 2.5px 30px;
  margin-top: 5px;
  background: url('../img/bg-botao2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  float: right;
  transition: 0.1s ease-in-out;
}
section.rodape form button:hover {
  transform: translate(10px);
}
/*FIM RODAPE*/
@media screen and (max-width: 1199px) {
  .nav-link .logo {
    height: 90px;
  }
  .nav-link {
    font-size: 16px;
  }
  .nav-item .stores a img {
    width: 85px;
  }
  section.topo .conteudo {
    width: 50%;
  }
  section.characters .conteudo .lista .box .char {
    height: 320px;
  }
  section.gameplay .conteudoGameplay,
  section.gameplay .conteudoRoadmap {
    padding: 10px 0px;
  }
  section.gameplay .conteudoGameplay .caroussel .video {
    padding: 3px;
  }
}
@media screen and (max-width: 991px) {
  .mostrar-991 {
    display: block;
  }
  .sumir-991 {
    display: none;
  }
  .navbar-toggler {
    border: 3px solid #ffffff !important;
  }
  .icone-menu-mobile div {
    width: 30px;
    margin: 6px;
    height: 3px;
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 1;
    transition: 0.2s ease-in;
  }
  .icone-menu-mobile.ativo div:first-child {
    transform: translateY(9px) rotate(45deg);
  }
  .icone-menu-mobile.ativo div:nth-child(2) {
    opacity: 0;
  }
  .icone-menu-mobile.ativo div:last-child {
    transform: translateY(-9px) rotate(135deg);
  }
  div#navbarNavDropdown {
    border-radius: 15px;
    width: calc(100% - 20px);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 100px;
    z-index: 5;
  }
  .dropdown-menu {
    background: unset;
  }
  .dropdown-menu .dropdown-item {
    text-align: center;
  }
  section.topo .conteudo {
    width: 55%;
  }
  section.topo .conteudo .btn-play {
    padding: 10px 35px;
    font-size: 15px !important;
    margin: 0px;
  }
  section.topo .conteudo h1 {
    font-size: 22px;
  }
  section.topo .conteudo h2 {
    font-size: 16px;
  }
  section.topo .conteudo h3 {
    font-size: 13px;
  }
  section.topo .conteudo p {
    font-size: 14px;
  }
  section.topo .social img {
    height: 30px;
  }
  section.topo .conteudo .stores {
    margin-top: 5px;
    display: flex;
  }
  section.topo .conteudo .stores img {
    margin: 3px;
    height: 30px;
    width: auto;
  }
  div.cipo img {
    margin-top: -42px;
    height: 90px;
  }
  section.characters .conteudo h2 {
    margin-bottom: 35px;
  }
  section.characters .conteudo .lista .box {
    height: 270px;
  }
  section.characters .conteudo .lista .box p {
    font-size: 14px;
  }
  section.characters .conteudo .lista .box .placa {
    height: 45px;
  }
  section.gameplay .conteudoGameplay h2 {
    padding-bottom: 10px;
  }
  section.gameplay .conteudoGameplay .caroussel .video {
    width: 50%;
  }
  section.team {
    height: calc(100vw / 2.389);
  }
  section.team .conteudo .cartao .foto img {
    height: 110px;
    width: 110px;
  }
  section.team .conteudo .cartao h6 {
    font-size: 23px;
  }
  section.tokenomics .conteudo {
    padding: 5px;
  }
  section.tokenomics .conteudo .titulo p {
    font-family: kg;
    font-size: 15px;
  }
  section.tokenomics .conteudo p {
    font-size: 12px;
  }
  section.tokenomics .conteudo .numero p {
    font-size: 11px;
  }
  section.tokenomics .conteudo .itens.burn {
    left: 56%;
  }
  section.tokenomics .itens.staking {
    left: 57%;
  }
  .container-press {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  section.rodape {
    height: auto !important;
    background: linear-gradient(to bottom, #122a83, #1b2a82);
  }
  section.rodape.rodape-press {
    background: #ffad6f;
  }
  section.rodape .bg_video {
    bottom: 0;
    width: 120vw;
  }
  section.rodape ul.submenu li {
    margin-bottom: 0px;
  }
  section.rodape ul.submenu li a {
    font-size: 13px;
  }
  section.rodape .logo {
    height: 80px;
  }
  section.rodape form button {
    margin-top: 0px;
  }
  section.rodape h5 {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  section.characters {
    height: calc(100vw / 1.435);
  }
  section.characters .bg_video {
    bottom: 0;
  }
  section.gameplay {
    height: calc(115vw / 1.112);
  }

  section.team {
    height: calc(120vw / 2.389);
  }

  .mostrar-768 {
    display: block;
  }
  .sumir-768 {
    display: none;
  }
  h2 {
    font-size: 27px;
  }
  .navbar-toggler {
    border: 2px solid #ffffff !important;
  }

  .navbar-brand.logo img {
    height: 70px;
  }
  section.topo .conteudo {
    padding: 0px;
  }
  section.topo .conteudo .btn-play {
    margin: 0px;
  }
  section.topo .conteudo h1 {
    font-size: 15px;
  }
  section.topo .conteudo h2 {
    font-size: 12px;
  }
  section.topo .conteudo h3 {
    margin: 5px 0px;
    padding: 6px 5px;
    border-radius: 3px;
    font-size: 13px;
  }
  section.topo .conteudo p {
    margin-bottom: 0px;
    line-height: 1;
    font-size: 12px;
  }
  section.topo .conteudo .btn-play {
    font-size: 13px !important;
    padding: 3px 15px;
    margin: 0px;
  }
  section.topo .conteudo .stores img {
    height: 23px;
  }
  div.cipo img {
    margin-top: -30px;
    height: 60px;
  }

  section.characters .conteudo {
    padding: 30px 0px 10px 0px;
  }
  section.characters .conteudo h2 {
    margin-bottom: 5px;
  }
  section.characters .conteudo .lista {
    justify-content: center;
  }
  section.characters .conteudo .lista .box .char {
    height: 270px;
  }
  section.roadmap .conteudoRoadmap img.mapa {
    justify-self: center;
    width: 65%;
  }
  section.team .conteudo {
    padding: 5px 0px;
  }
  section.team .conteudo .cartao {
    padding: 5px;
  }
  section.team .conteudo .cartao h6 {
    font-size: 21px;
  }
  section.tokenomics .conteudo {
    line-height: 1;
  }
  .container-press {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  section.rodape .conteudo {
    grid-template-columns: 33.3% 33.3% 33.4%;
  }
  section.rodape .conteudo .coluna:nth-child(1) {
    grid-column: 1/2;
  }
  section.rodape .conteudo .coluna:nth-child(2) {
    grid-column: 2/3;
  }
  section.rodape .conteudo .coluna:nth-child(3) {
    grid-column: 3/4;
  }
  section.rodape .conteudo .coluna:nth-child(4) {
    grid-column: 1/4;
    padding: 5px 20%;
  }
}
@media screen and (max-width: 575px) {
  .navbar,
  .navbar-brand {
    padding-bottom: 0px;
  }
  /* .row.row-conteudo-topo {
    height: calc((150vw / 1.759) - 83px);
    align-items: center;
  } */
  section.topo {
    height: calc(150vw / 1.759);
  }
  section.topo .conteudo .btn-play {
    padding: 5px 24px;
    margin-bottom: 5px;
    font-size: 12px !important;
  }
  section.topo .conteudo .stores img {
    margin: 1px;
    height: 24px;
  }
  section.topo .conteudo {
    width: 53%;
    padding: 0px 5px;
  }
  section.topo .conteudo h1 {
    font-size: 15px;
  }
  section.topo .conteudo h2 {
    font-size: 11px;
    margin-bottom: 0;
  }
  section.topo .conteudo h3 {
    height: fit-content;
  }
  section.characters {
    height: calc(123vw / 1.435);
  }
  section.gameplay {
    height: calc(160vw / 1.106);
  }
  section.roadmap .conteudoRoadmap .mouse {
    display: block;
  }
  #checklistModal .modal-content {
    padding: 125px 87px 60px 60px;
  }
  #checklistModal .modal-content ul li {
    margin-bottom: 5px;
    font-size: 12px;
  }
  section.tokenomics {
    height: calc(135vw / 2.159);
    background: linear-gradient(
      0deg,
      rgba(20, 42, 134, 1) 0%,
      rgba(20, 42, 134, 1) 48%,
      rgba(21, 59, 177, 1) 52%,
      rgba(21, 59, 177, 1) 100%
    );
  }
  section.tokenomics .bg_video {
    top: 10%;
  }
  section.team {
    height: calc(200vw / 2.389);
  }
  section.press {
    background-size: auto 100%;
  }
  section.news {
    background-size: 70px auto;
    padding-bottom: 70px;
  }
  section.news .box-caroussel .detalhe-coruja {
    width: 120px;
    bottom: -55px;
    left: -20px;
  }
  section.news .caroussel .box {
    margin: 0px;
  }
  section.communities {
    background-size: 60px auto;
    padding-bottom: 10px;
  }
  section.rodape {
    margin-top: -2px;
  }
  /**/

  section.gameplay .conteudoGameplay .caroussel {
    grid-template-columns: 60px auto 60px;
  }
  section.characters .conteudo .lista .box .char {
    height: 210px;
  }
  .caroussel .controle img {
    width: 40px;
  }

  section.tokenomics .conteudo .titulo p {
    font-size: 13px;
  }
  section.tokenomics .conteudo .titulo p::before {
    width: 13px;
    height: 13px;
  }
  section.tokenomics .conteudo .itens.advisor {
    left: 27%;
  }
  section.tokenomics .itens.airdrop {
    left: 71%;
    top: 34%;
  }
  section.tokenomics .itens.play-to-earn {
    top: 71%;
    left: 74%;
  }
  section.tokenomics .itens.presale {
    left: 77%;
    top: 52%;
  }
  section.tokenomics .itens.liquidity {
    left: 17%;
  }
  section.roadmap .conteudoRoadmap img.mapa {
    justify-self: center;
    width: 90%;
  }
  section.team .conteudo .cartao .foto img {
    height: 150px;
    width: 150px;
  }
  section.rodape .logo {
    height: 70px;
  }
  section.rodape .conteudo .coluna:nth-child(4) {
    grid-column: 1/4;
    padding: 5px 10%;
  }
}

@media screen and (max-width: 400px) {
  .navbar-toggler {
    padding: 5px;
  }
  section.topo .conteudo {
    width: 90%;
  }
  section.topo .conteudo h1 {
    font-size: 15px;
  }
  section.topo .conteudo h2 {
    font-size: 10px;
  }
  section.topo .social img {
    height: 25px;
  }
  h2 {
    font-size: 22px;
  }
  div.cipo img {
    margin-top: -15px;
    height: 35px;
  }
  .caroussel .controle img {
    width: 35px;
  }
  section.characters .conteudo .lista .box .char {
    height: 185px;
  }
  section.team {
    margin-top: -3px;
  }
  section.team .conteudo .cartao .foto img {
    height: 130px;
    width: 130px;
  }
  section.tokenomics .conteudo .titulo p {
    font-size: 11px;
  }
  section.tokenomics .conteudo .numero p {
    font-size: 9px;
  }
  section.tokenomics .conteudo .titulo p::before {
    width: 10px;
    height: 10px;
  }
  section.tokenomics .itens.investor {
    top: 55%;
  }
  section.tokenomics .itens.liquidity {
    top: 71%;
  }
  section.tokenomics .itens.market {
    top: 38%;
  }
  section.communities .box-communities {
    gap: 20px;
  }
  section.communities .box-communities a img {
    width: 125px;
  }
  section.rodape .logo {
    height: 95px;
  }
  section.rodape .conteudo {
    grid-template-columns: 25% 25% 25% 25%;
  }
  section.rodape .conteudo .coluna:nth-child(1) {
    grid-column: 2/4;
  }
  section.rodape .conteudo .coluna:nth-child(2) {
    grid-column: 1/3;
  }
  section.rodape .conteudo .coluna:nth-child(3) {
    grid-column: 3/5;
  }
  section.rodape .conteudo .coluna:nth-child(4) {
    grid-column: 1/5;
    padding: 5px 30px;
  }
}
