.glider .slide {
  background-color: gray;
  min-height: 300px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 10px;
  border-radius: 7px;
}

.myvideo {
  display: block;
  max-width: 30vw;
  /* margin: 120vh 0; */
}
